
  .src1{
    background-image: url(https://t3.ftcdn.net/jpg/00/92/34/56/360_F_92345619_pUlEznFdreTJy5amSBspNNtQT0sqhTwM.jpg);
    height: 100vh;
    background-size: cover;
    width:150%; 
    margin-left: -150px;
  
    
  }
  .container2{
    position: absolute;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }