
/*contactus*/

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  background: #F9F9F9;
  overflow-x: hidden;
}

.contact-container{
  width: 90%;
  height: 90vh;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-inner-container{
  padding: 0px;
  width: 90%;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 4px;
}

.contact-info-container{
  width: 50%;
  text-align: left;
  padding: 50px;
  background: rgb(58, 177, 122);
}

.contact-form{
  width: 50%;
  background: white;
  padding: 50px;
  border-radius: 0px 4px 4px 0px;
}

.contact-heading{
  font-family: inherit;
  font-size: 3.5rem;
  font-weight: 700 ;
  line-height: 4rem;
  color: #ffffff;
}

.contact-description{
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.6rem;
  text-align: justify;
  font-size: 16px;
  margin-top: 20px;
}
.line{
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: #484848;
  margin: 24px 0px;
}


.contact-details{
  padding-top: 24px;
}

.contact-details h3{
  font-weight: 200;
  color: #ffffff;
}

.contact-details p{
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 6px;
}

.social-link-container{
  display: flex;
  margin-top: 30px;
}

.social-link-container .fa{
  margin-right: 20px;
  cursor: pointer;
  color: #484848;
  transition: all 0.2s;
}


.formUs{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-groupC{
  width: 100%;
  text-align: left;
  margin-top: 2px;
}

.form-groupC:not(:last-child){
  margin-bottom: 1rem;
}

.input-fieldC{
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 18px;
  background: #F2F2F2;
}

.formUs-input{
  height: auto;
}

.form-groupC textarea{
  height: 200px;
}

.submit-btn{
  padding: 1rem 2.4rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: rgb(48, 183, 120);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s;
}
  
/*Home*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
li {
  list-style-type: none;
  font-weight: 700;
  margin-right: 50px;
}
a {
  text-decoration: none;
  color: rgb(4, 4, 4);
}
body {
  background-color: #f0f4f5;
  max-width: 1440px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 50px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.content-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
}
.content_text {
  margin: 25px 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url(stethoscope.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 70%;
  background-position: center center;
}
.green_corner {
  width: 30px;
}
.orange_corner {
  width: 30px;
}
.mouse {
  position: relative;
  right: -30px;
  bottom: 0;
  width: 30px;
}
.corner_bottom {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  margin-top: -50px;
  margin-left: -50px;
}
button {
  width: fit-content;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgb(6, 170, 94);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
h1 {
  font-size: 60px;
}
h2{
  font-size: 40px;
}
p {
  color: black;
  font-size: 18px;
  margin: 20px 0;
}

.green_circle,
.yellow_circle {
  position: absolute;
  right: 0;
}
.green_circle {
  width: 30%;
  bottom: 30px;
}

.yellow_circle {
  width: 24%;
  bottom: 50px;
}

.doctor {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90%;
}






/*ADD DOc*/

.container-1 {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #168548;
}

fieldset {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #080808;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}




/* section -4 */
.section-4 {
  margin-top: 8%;
  background-color: rgb(248, 247, 247) !important;
  
}

.section-4 .col-md-7 {
  margin-top: 10%;
  margin-bottom: 10%;

}
.section-4 .col-md-5 {
  padding-bottom: 0%;
}
.section-4 .heading-1{
  color: #168548;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 10%;
}
.section-4 .para-1 {
  padding-left: 10%;
  padding-right: 10%;
}
.section-4 i{
  color: #168548;
}
.section-4 .h-line-1{
  margin-top: -10px;
  width: 20%;
  size: 15px !important;
  background-color: #168548;;
 position: absolute;
 margin-left: 10%;
}
.section-4 .flex-row{
  padding-left: 5%;
  padding-right: 5%;
}
.section-4 .flex-row p{
  color: rgba(0,0,0, 0.59);
}
/*Section service*/
/*.section-3 {
  margin-top: 5%;
  margin-bottom: 12%;
  
}
.section-3 .heading-1{
  color: #168548;
  font-size: 40px;
  font-weight: 700;
  
  /* font-family: 'Archivo Black', sans-serif; */
  /*text-transform: uppercase;
}
.section-3 .hr-line-1 {
  width: 100%;
  position: relative;
  background-color: #168548; ;
  margin-bottom: 2%;
}
.section-3 i{
  color: #168548;
}
.section-3 p{
  color: rgba(0,0,0, 0.59);
}

/*Form*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #59cf70 0%, #42be70 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/*Our doc*/
.y{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.body {
    font-family: 'Times New Roman', Times, serif;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#2ae07c, #2ae07c 45%, #fff 45%, #fff 100%);
}

.card-doc{
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin: 3%;
}

.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentDoc {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  padding: 5%;
  
}

.contentDoc .detail-doc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contentDoc .detail-doc h2 {
  color: #444;
  font-size: 1.6em;
  font-weight: bolder;
}

.contentDoc .detail-doc h2 span {
  font-size: 0.7em;
  color: #1fab5e;
  font-weight: bold;
}

.sco {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.sco li {
  list-style: none;
  margin: 4px;
}

.sco li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.sco li a:hover {
  background: #1fab5e;
  color: #fff;
}
/*Profilecard*/
.body-c{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.main-body {
  padding: 15px;
}
.cardPro {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.cardPro {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-bodyPro {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}


/*drLogin*/
.loginbody {
  background: #33a683;
  font-family: 'Roboto', sans-serif;
  height: auto;
}

.login-box {
  margin-top: 75px;
  height: auto;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.43);
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#7d8280, #0DB8DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #000000;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type=text] {
  background-color: #c9d6dd;
  border: none;
  border-bottom: 2px solid;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ECF0F5;
}

input[type=password] {
  background-color: #c9d6dd;
  border: none;
  border-bottom: 2px solid ;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ECF0F5;
}

.form-groupDL {
  margin-bottom: 20px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0DB8DE;
  outline: 0;
  
  color: #000000;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #0DB8DE;
  color: #0DB8DE;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #0DB8DE;
  right: 0px;
}

.login-btm {
  display: flex;
  margin-left: 25%;
}

.login-buttone {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #A2A4A4;
}

.loginbttm {
  padding: 0px;
}

/*Doctor Listing*/

/*.cardListing {
  background-color: #33a683;
  color: white;
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  
}

.cardListing img {
  margin-top: 2px;
  width: 150px;
  height: 100px;
  
}

.cardListing > p {
  margin-top: 10px;
  
}
.listcon{
  color: #ffffff;

}
.certificate-images {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.certificate-images img {
  width: 120px;
  height: 80px;
  margin-right: 10px;

}
.certificate-images img:hover{
  transform: scale(1.2);
  transition: 0.5s;
}
/* Add this CSS to your stylesheet */
/*.containerdoc {
  transition: filter 0.5s;
}*/

/* Reset filter on hover for containerdoc */
/*.containerdoc:hover {
  filter: none;
}*/

/*DocLis*/

.bodylisting {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 50vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.cardListing {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
 
}
.cardListing h2 {
  margin: 0;
  padding: 0 1rem;
}
.cardListing .titleListing {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.cardListing .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.cardListing .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.cardListing svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #3ff46f 100%);
  top: 15px;
  left: 85px;
}

.cardListing-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

.pathlisting {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");
  background-position: bottom center;
  background-size: cover;
}

.buttonlisting {
  border: none;
  background: none;
  font-size: 20px;
  color: #8bc34a;
  cursor: pointer;
  padding: 0px; /* Reduce padding */
  margin: 0 5px; /* Add margin between buttons */
  transition: .5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}
.buton {
  font-size: 14px; /* Adjust the font size as needed */
  padding: 2px 5px; /* Adjust the padding as needed */
  border: none;
  width: 90%;
  height: 25%;

}
.actions {
  display: flex;
  justify-content: flex-start;
}

/*View Page*/
.body-v{
  margin-top:20px;
  background:#eee;
}


.product-content {
  border: 1px solid #dfe5e9;
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff
}

.product-content .carousel-control.left {
  margin-left: 0
}

.product-content .product-image {
  background-color: #fff;
  display: block;
  min-height: 238px;
  overflow: hidden;
  position: relative;
}

.product-content .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff
}

.product-content .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0
}

.product-content .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.product-content .product-deatil span.tag1 {
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 13px 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px
}

.product-content .product-deatil span.sale {
  background-color: #21c2f8
}

.product-content .product-deatil span.discount {
  background-color: #71e134
}

.product-content .product-deatil span.hot {
  background-color: #fa9442
}

.product-content .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 10px 14px 16px 19px;
  background: #fff
}

.product-content .product-info {
  padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px
}

.product-content name.a {
  padding: 5px 10px;
  margin-left: 16px
}

.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px
}

.product-entry .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative
}

.product-entry .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none
}

.product-entry .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #0cf;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px
}

.product-info.smart-form .rating label {
  margin-top: 0
}

.product-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}

.product-wrap .product-image span.sale {
  background-color: #57889c
}

.product-wrap .product-image span.hot {
  background-color: #a90329
}

.shop-btn {
  position: relative;
}

.shop-btn>span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px 3px!important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px
}

.description-tabs {
  padding: 30px 0 5px!important
}

.description-tabs .tab-content {
  padding: 10px 0
}

.product-deatil {
  padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
  padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
  background: none!important
}

.product-deatil .glyphicon {
  color: #3276b1
}

.product-deatil .product-image {
  border-right: none!important
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0
}

.product-deatil .name small {
  display: block
}

.product-deatil .name a {
  margin-left: 0
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300
}

.product-deatil .price-container small {
  font-size: 12px
}

.product-deatil .fa-2x {
  font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
  font-size: 12px;
  margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
  font-size: 13px
}

.profile-message ul {
list-style: none ;  
}

.product-deatil .certified {
  margin-top: 10px
}

.product-deatil .certified ul {
  padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
  margin-left: -3px
}

.product-deatil .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
  border-right: none
}

.product-deatil .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none
}

.product-deatil .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center
}

.product-deatil .message-text {
  width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
  .product-content div[class*=col-md-4] {
      padding-right: 0
  }
  .product-content div[class*=col-md-8] {
      padding: 0 13px 0 0
  }
  .product-wrap div[class*=col-md-5] {
      padding-right: 0
  }
  .product-wrap div[class*=col-md-7] {
      padding: 0 13px 0 0
  }
  .product-content .product-image {
      border-right: 1px solid #dfe5e9
  }
  .product-content .product-info {
      position: relative
  }
}

.message img.online {
  width:40px;
  height:40px;
}

/*Services*/

/*Footer*/
html,
body {
  height: 100%;
}

.background {
  position: absolute;
  z-index: -1; /* Change this to a positive value */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
  z-index: 0; /* Ensure the SVG stays behind the footer */
}

footer {
  display: flex;
  position: relative; 
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px; /* You can adjust this height as needed */
  top: calc(100vh - 400px); /* Position it 400px from the bottom of the viewport */
  z-index: 1;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialsfo {
  gap: 30px;
}

.socialsfo a {
  font-size: 34px;
  color: white;
}

.linksFo {
  gap: 10px;
}

.legal {
  font-size: 12px;
  margin: 0;
}
.sect-fot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 80px;
  padding-left: 60px;
  width: 100%;
}

@media (width > 420px) {
  .sect-fot {
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }

  .linksFo {
    gap: 20px;
    color: white;
  }
}

/*Depart*/
.depart-section{
  margin-top: 10%; 
}

.our_depertment {
  background-image: url("../src/assets/review_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  
}

@media (max-width: 991px) {
  /* line 1, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment {
    padding: 70px 0 30px;
  }
}

/* line 12, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
/*Photobg*/
.our_depertment:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1998ab;
  opacity: 0.8;
  z-index: -1;
}

/* line 24, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .depertment_content {
  background-color: #fff;
  padding: 100px 0;
  margin-top: -652px;
}

@media (max-width: 991px) {
  /* line 24, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .depertment_content {
    margin-top: 0;
    background-color: transparent;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 24, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .depertment_content {
    margin-top: -170px;
    padding: 80px 15px 20px;
  }
}

/* line 39, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .depertment_content h2 {
  font-size: 44px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  /* line 39, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .depertment_content h2 {
    margin-bottom: 60px;
    color: #fff;
    line-height: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 39, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .depertment_content h2 {
    font-size: 35px;
  }
}

/* line 57, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .single_our_depertment {
  position: relative;
  border: 1px solid #f2f6f8;
  padding: 60px 15px 32px;
  margin-bottom: 60px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

@media (max-width: 991px) {
  /* line 57, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment {
    margin-top: 0;
    background-color: #fff;
    margin-bottom: 40px;
  }
}



/* line 72, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .single_our_depertment .our_depertment_icon {
  height: 50px;
  width: 50px;
  background-color: #f2f6f8;
  display: inline-block;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -25px;
}

/* line 85, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .single_our_depertment .our_depertment_icon img {
  max-width: 25px;
}

/* line 90, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .single_our_depertment h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 27px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

/* line 98, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .single_our_depertment p {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

/* line 102, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .single_our_depertment:hover {
  background-color: #129e95;
  border: 1px solid #129e95;
}

/* line 106, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.our_depertment .single_our_depertment:hover h4,
.our_depertment .single_our_depertment:hover p {
  color: #fff;
}

/* line 115, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
.single_pepertment_page {
  margin-top: 520px;
}

@media (max-width: 991px) {
  /* line 115, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .single_pepertment_page {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 115, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .single_pepertment_page {
    margin-top: 150px;
  }
}